{% extends 'base.html.twig' %}

{% block main %}
    {% for article in articles %}
    <div class="blog-post">
        <a href="{{ path('app_article_show', {'id' : article.id} ) }}">
            <h2 class="blog-post-title">{{ article.title }}</h2>
        </a>
        <p class="blog-post-meta">{{ article.createOn | date("m/d/Y") }} by <a href="#">{{ article.author.username }}</a></p>
        {{ article.excerpt }}...<a href="{{ path('app_article_show', {'id' : article.id} ) }}">read more</a>.
    </div><!-- /.blog-post -->
    {% endfor %}

    <nav>
        <ul class="pager">
            {% if page > 1 %}
                <li><a href="{{ path('app_default_index', {'page' : page - 1}) }}">Previous</a></li>
            {% endif %}
            {% if page < pageMax %}
                <li><a href="{{ path('app_default_index', {'page' : page + 1}) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}